<html>
    <head>
        <title>
            Home Page
        </title>
    </head>
    <body>
        {{> header}}
        {{msg}}

        {{screamIt "ram"}}
       {{> footer}}
    </body>
</html>